#head {
    .bg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 360px;
        background-size: cover;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/main_bg.png");

        .text {
            font-size: 3.5rem;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            color: white;
            font-weight: 400;
        }
    }

    .btn-info {
        display: block;
        text-align: center;
        cursor: pointer;
        text-shadow: none;
        background-color: black;
        color: #ccc;
        margin-bottom: 10px;
        padding: 15px 65px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 6px;
        background-image: none;
        margin: auto;
    }

    .btn-info:hover {
        transition: all .3s ease 0s;
        color: black;
        background-color: rgba(150, 203, 218, 0.8);
    }
}

@media screen and (max-width: 1060px) {
    #head {
        .bg {
            height: 180px;

            .text {
                font-size: 2rem;
            }
        }
    }
}