{% extends "layout.html" %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'src/scss/publications.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block header %}

<style>
  .main-container{
    width: 80%;
  }
  @media screen and (max-width: 1060px) {
    main{
      width: 100%;
    }
    section{
      width: 100%;
    }
  }
  @media screen and (max-width: 990px) {
    .img-content{
      padding-left: 0!important;
      padding-right: 0!important;
    }
    .text-container .text-content{
      padding: 0rem!important;
    }
  }
</style>

<!-- header -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'main' %}">CAI LAB.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'main' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Research</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                  <li><a class="dropdown-item" href="{% url 'projects' %}">Projects</a></li>
                  <li><a class="dropdown-item" href="{% url 'area' %}">Area</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">People</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                  <li><a class="dropdown-item" href="{% url 'professor' %}">Professor</a></li>
                  <li><a class="dropdown-item" href="{% url 'student' %}">student</a></li>
                  <li><a class="dropdown-item" href="{% url 'alumni' %}">alumni</a></li>
                </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'publications' %}">Publications</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'news' %}">news</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'library' %}">Board</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
{% endblock %}

{% block body %}
    <!-- head summary -->
    <div id="head">
        <div class="bg">
            <div>
                <h1 class="text">Research Area</h1>
            </div>
        </div>
    </div>

    <main class="main-container">
      <section id="scroll">
        <div class="container px-4">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="img-content p-5"><img class="img-fluid rounded-circle" src="{%static 'images/area/6G.jpg'%}" alt="..." /></div>
                </div>
                <div class="text-container col-lg-6 order-lg-1">
                    <div class="text-content p-5">
                        <h3 class="display-6" style="padding-top: 25px; margin-bottom: 25px;">5G/6G Wireless Communication Systems</h3>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - IRS(Intelligent Reflecting Surface)
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - ML(Machine Learning) for communications
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                          - Massive MIMO(Multiple Input Multiple Ouptut) </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                          - Millimeter & TeraHertz communications</ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - SDN(Software Defined Networking) 
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Modulation/demodulation for 6G systems
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Channel estimation for 6G systems
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Resource management for 6G systems
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Mobile edge computing
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
      <!-- Content section 2-->
      <section>
        <div class="container px-4">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="img-content p-5"><img class="img-fluid rounded-circle" src="{%static 'images/area/satellite_communication.jpg'%}" alt="..." /></div>
                </div>
                <div class="text-container col-lg-6">
                    <div class="text-content p-5">
                        <h3 class="display-6" style="margin-bottom: 25px;">Space/Satellite Communication Systems</h3>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - LEO(Low-Earth-Orbit) satellite systems
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - ML(Machine Learning) for communications
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                          - UAV(Unmanned Aerial Vehicle)/UAM(Urban Air Mobility) communications
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                          - HAPS(High Altitude Platform Systems) systems
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Terrestrial-Space integrated networks
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Jamming/anti-jamming techniques
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Synchronization and location identification
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Array processing and beamforming
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - SAR(Synthetic Aperture Radar) image detection
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
        <!-- Content section 1-->
      <section id="scroll">
          <div class="container px-4">
              <div class="row gx-5 align-items-center">
                  <div class="col-lg-6 order-lg-2">
                      <div class="img-content p-5"><img class="img-fluid rounded-circle" src="{%static 'images/area/deep_learning.png'%}" alt="..." /></div>
                  </div>
                  <div class="text-container col-lg-6 order-lg-1">
                      <div class="text-content p-5">
                          <h3 class="display-6" style="padding-top: 25px; margin-bottom: 25px;">Artificial Intelligence</h3>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Machine Learning/Deep learning
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Object detection
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                            - Fault diagnosis system
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                            - Data mining
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Big data processing
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Recommender system
                          </ul>
                  </div>
              </div>
          </div>
      </section>
      <hr>
      <section id="scroll">
        <div class="container px-4">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="img-content p-5"><img class="img-fluid rounded-circle" src="{%static 'images/area/IoT.png'%}" alt="..." /></div>
                </div>
                <div class="text-container col-lg-6 order-lg-1">
                    <div class="text-content p-5">
                        <h3 class="display-6" style="padding-top: 25px; margin-bottom: 25px;">IoT Systems</h3>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Industrial IoT system
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - Home IoT system
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                          - Fault diagnosis system
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                          - IoT devices
                        </ul>
                        <ul style="margin-top:5pt; margin-bottom: 5pt;">
                          - BLE(Bluetooth Low Energy) applicatons
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section id="scroll">
      <div class="container px-4">
          <div class="row gx-5 align-items-center">
              <div class="col-lg-6 order-lg-2">
                  <div class="img-content p-5"><img class="img-fluid rounded-circle" src="{%static 'images/area/healthcare.jpg'%}" alt="..." /></div>
              </div>
              <div class="text-container col-lg-6 order-lg-1">
                  <div class="text-content p-5">
                      <h3 class="display-6" style="margin-bottom: 25px;">Digital Contents Technology</h3>
                      <ul style="margin-top:5pt; margin-bottom: 5pt;">
                        - AR/VR/MR/XR technology
                      </ul>
                      <ul style="margin-top:5pt; margin-bottom: 5pt;">
                        - Digital twin technique
                      </ul>
                      <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                        - Metaverse technology
                      </ul>
                      <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                        - Motion tracking and estimation
                      </ul>
                      <ul style="margin-top:5pt; margin-bottom: 5pt;">
                        - Home fitness system 
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <hr>
      <!-- Content section 2-->
      <section>
          <div class="container px-4">
              <div class="row gx-5 align-items-center">
                  <div class="col-lg-6">
                      <div class="img-content p-5"><img class="img-fluid rounded-circle" src="{%static 'images/area/IoE.jpg'%}" alt="..." /></div>
                  </div>
                  <div class="text-container col-lg-6">
                      <div class="text-content p-5">
                          <h3 class="display-6" style="padding-top: 25px; margin-bottom: 25px;">Smart Convergence Systems</h3>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Internet of energy
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Smart healthcare systems
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                            - Smart city
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">                          
                            - Smart lighting
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Autonomous vehicle
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Disaster communication systems
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Intelligent home networking
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Powerline communications
                          </ul>
                          <ul style="margin-top:5pt; margin-bottom: 5pt;">
                            - Visible Light Communications
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
    
{% endblock %}