{% extends "layout.html" %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'src/scss/professor.css' %}" />
{% endblock %}

{% block header %}
    <!-- header -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'main' %}">CAI LAB.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'main' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Research</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                  <li><a class="dropdown-item" href="{% url 'projects' %}">Projects</a></li>
                  <li><a class="dropdown-item" href="{% url 'area' %}">Area</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">People</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                  <li><a class="dropdown-item" href="{% url 'professor' %}">Professor</a></li>
                  <li><a class="dropdown-item" href="{% url 'student' %}">student</a></li>
                  <li><a class="dropdown-item" href="{% url 'alumni' %}">alumni</a></li>
                </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'publications' %}">Publications</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'news' %}">news</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'library' %}">Board</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
{% endblock %}

{% block body %}
    <!-- head summary -->
    <div id="head">
        <div class="bg">
            <div>
                <h1 class="text">Professor</h1>
            </div>
        </div>
    </div>

    <!-- main -->
    <div class="main-container">
      <div>
        <article>
          <div class="main-contents">
            <div class="img-container">
              <img src="{% static 'images/professor_pic.jpeg' %}" height="300px">
            </div>
            <div class="brief-container">
              <h2>김진영(Jin Young Kim)</h2>
              <hr>
              <p>
                Dept. of Electronic Convergence Engineering, Kwangwoon University, Republic of Korea
                <br>
                email: jinyoung@kw.ac.kr
                <br>
                address: 611, chambich, 20, Gwangun-ro, Nowon-gu, Seoul, Republic of Korea <br>(서울시 노원구 광운로 20, 광운대학교 참빛관 610호)
              </p>
            </div>
        </div>
      </article>
      </div>
      <div>
        <article class="brief-ariticle">
          <div class="education-container">
            <h2>Academic Background</h2>
            <hr>
          </div>
          <div class="eduation-container">
            <p>
              Doctorate : Ph. D., Seoul National University, Seoul, Korea, 1998.
              <br>
              Master’s : M. Sc., Seoul National University, Seoul, Korea, 1993.
              <br>
              Bachelor’s : B. Sc., Seoul National University, Seoul, Korea, 1991.
            </p>
          </div>
        </article>
      </div>
      <div>
        <article class="brief-ariticle">
          <div class="education-container">
            <h2>Thesis</h2>
            <hr>
          </div>
          <div class="eduation-container">
            <p> 
              <strong>Ph. D. Thesis:</strong> Performance of a Multicarrier DS/CDMA System with Adaptive Antenna Array, Seoul National University, Korea.
              <br><strong>M. Sc. Thesis:</strong> Performance of Acquisition of a Frequency-Hopped Spread-Spectrum System using Adaptive Threshold, Seoul National University, Korea.
              <br><strong>B. Sc. Thesis:</strong> Research on HEMT (High Electron Mobility Transistor) Device, Seoul National University, Korea.
            </p>
          </div>
        </article>
      </div>

      <div>
        <article class="brief-ariticle">
          <div class="education-container">
            <h2>Research Career</h2>
            <hr>
          </div>
          <div class="eduation-container">
            <p> 
              <strong>Professor</strong>, Department of Electronics Convergence Engineering, Kwangwoon University, Seoul, Korea, 2001 - now
              <br><strong>Director</strong>, Disaster Telecommunications Research Center, Kwangwoon University, Seoul, Korea, 2007 - now
              <br><strong>Visiting Scientist</strong>, Massachusettes Institute of Technology, MA, U.S.A, 2009-2010.
              <br><strong>Senior Member of Technical Staff</strong>, SK Telecom, Korea, 2000-2001.
              <br><strong>Postdoctoral Research Fellow</strong>, Princeton University, NJ, U.S.A, 1998-2000.
              <br><strong>Special Research Staff</strong>, Interuniversity Semiconductor Research Center, Seoul National University, 1998-2000.
            </p>
          </div>
        </article>
      </div>

      <div>
        <article class="brief-ariticle">
          <div class="education-container">
            <h2>Awards and Honors</h2>
            <hr>
          </div>
          <div class="eduation-container">
            <p> 
              <i><strong>Best Paper Award</strong> at the 2021 IIBC Fall Conference, 2021</i>. (*IIBC: The Institue of Internet, Broadcasting and Communication)
              <br><i><strong>Best Paper Award</strong> at the 2017 ITFE Summer Conference, 2017.</i> (*ITFE: Korea Institue of Information and Telecommuncations Facility Engineering)
              <br><i><strong>Best Paper Award</strong> at the 2015 KICS Summer Conference, 2015.</i> (*KICS: The Korean Institue of Communications and Information Sciences)
              <br><i><strong>Best Paper Award</strong> at the 2013 IEIE Fall Conference, 2013.</i> (*IEIE: The Institue of Electronics and Information Engineers)
              <br><i><strong>Award of Prime Minister in Korea,</strong></i> Excellent Contribution Award for Top-Notch Technology Innovations, 2013.
              <br><i><strong>Hwando Academic Award</strong></i> Excellent academic achievement award of Kwangwoon University, 2011.
              <br>(* Hwado: penname of the founder(Kwangwoon Cho) of Kwangwoon University)
              <br><i><strong>LG Yonam Professor Fellowship,</strong></i> LG Group, 2009-2010. 
              <br><i><strong>Jack Neubauer Best Systems Paper Award,</strong></i> IEEE Vehicular Technology Society, 2003.
              <br><i><strong>IBC (International Biographical Center),</strong></i> Biography listed in One Thousand Great Scientists, in the 1st Edition, Cambridge, England, 2002-2003.
              <br>(* IBC: world’s leading biographical reference publisher)
              <br><i><strong>Marquis Who’s Who in Science and Engineering,</strong></i> Biography listed as Telecommunication Engineer in the 6th Edition, 2002-2003. 
              <br><i><strong>Marquis Who’s Who in the World,</strong></i> Biography listed as Telecommunication Engineer in the 18th Edition (First Edition of the 21st Century), 2001.
              <br>(* Marquis: America’s leading biographical publisher).
              <br><i><strong>Best Paper Award,</strong> Asia Pacific Conference on Communications (APCC ‘00),</i> Seoul, Korea, Nov. 2000.
              <br><i><strong>Postdoctoral Research Fellowship,</strong></i> KOSEF (Korea Science and Engineering Foundation), 1998-1999.
              <br><i><strong>Award of Minister of Information and Communications in Korea,</strong></i> Best Paper Award at the 1998 fifth LG Paper Contest, 1998.
              <br><i><strong>Best Paper Award,</strong> IEEE International Workshop on Mobile Multimedia Communications (IEEE MoMuC '97),</i> Sept. 1997.
            </p>
          </div>
        </article>
      </div>
    
      <div>
        <article class="brief-ariticle">
          <div class="education-container">
            <h2>Activities in academic societies</h2>
            <hr>
          </div>
          <div class="eduation-container">
            <div>
              <strong><i>IEEE</i></strong> (Institute of Electrical and Electronics Engineers, U.S.A.): 
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Senior Member</strong> (since 1991)
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  Operations Committee Chair, IEEE ICC'2022, Seoul, Korea, 2022.
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  Publications Chair, IEEE APWCS'2017, Incheon, Korea, 2017.
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  Treasury Chair, IEEE ISIT'2009, Seoul, Korea, 2009.
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  TPC Chair, IEEE ISPLC'2008, Jeju, Korea, 2008.
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>IEE</i></strong> (Institute of Electrical Engineers, U.K.):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Member</strong> (since 1994)
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>IEICE</i></strong> (Institute of Electronics, Information, and Communication Engineers, Japan):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Regular Member</strong> (since 1995)
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>IEIE</i></strong> (The Institue of Electronics and Information Engineers, Korea):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Life Member</strong> (since 1991)
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  Director, Communications Society, 2015-2015
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>KICS</i></strong> (Korean Institute of Communications Sciences, Korea):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Life Member</strong> (since 1991)
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  Director, Military Communications Society, 2020-2021
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  Director, Mobile Communications Society, 2016-2016
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                Director, Coding and Information Theory Society, 2014-2014 
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>KOSST</i></strong> (Korea Society of Satellite Technology, Korea):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Life Member</strong> (since 2003)
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  Director, Planning Committee, 2012 - now
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>ITFE</i></strong> (Korea Institue of Information and Telecommuncations Facility Engineering, Korea):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Life Member</strong> (since 2003)
                </ul>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  Member, Journal Editorial Board, 2015-now
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>KIEES</i></strong> (The Korean Institue of Electromagnetic Engineering and Science, Korea):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Life Member</strong> (since 2001)
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>IIBC</i></strong> (The Institue of Internet, Broadcasting and Communication, Korea):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Life Member</strong> (since 2005)
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>NRF</i></strong> (National Research Foundations, Korea):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Review Board Member</strong> (2016-2018)
                </ul>
              </div>
            </div>
            <div style="margin-top: 15pt;">
              <strong><i>SRMC</i></strong> (Satellite Radio Monitoring Center, Korea):
              <div>
                <ul type="disc" style="margin-bottom: 2pt; margin-top: 2pt;">
                  <strong>Advisory Member</strong> (since 2007)
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>

{% endblock %}
